/* --- Typography --- */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

/* --- Body --- */

body {
    padding-top: 0;
    background: #FFF;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3C3C3C;
    line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
a {
    color: #FF6D00;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}
a:hover,
a:focus {
    text-decoration: none;
    color: darken(#FF6D00, 10%);
}
hr {
    margin-top: 40px;
    border-top: 1px solid #fff;
    /* border-bottom: 1px solid #fff; */
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.btn {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 0.875em;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn:hover {
    background: #f8a668;
    color: #fff;
}
.btn-xs {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 1.188em;
    padding: 8px 16px;
    color: #FF6D00;
    border: 1px solid #FFF;
    border-radius: 3px;
    background: #FFF;
}
.btn-primary:hover,
.btn-primary:focus {
    background: transparent;
    color: #fff;
}

/* ------- HEADER ------- */

@media (max-width: 767px) {
    .navbar-default .navbar-toggle {
        margin-top: 18px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
    .navbar-collapse .navbar-brand {
        height: auto;
        padding: 10px 15px;
        margin-bottom: 0px;
    }
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
    }
    .navbar-toggle {
        float: left;
        margin-left: 20px;
    }
    .navbar-header .icon-bar {
        background-color: #5e5e5e;
    }
    #main-menu .navbar-header {
        background: transparent;
    }
    #main-menu .navbar-nav {
        margin: 0;
        height: 100%;
        width: auto;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(60, 60, 61, 0.95);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: transparent;
    }
    #main-menu .navbar-nav > li > a,
    #main-menu .navbar-nav > li > a:active
    #main-menu .navbar-nav > li > a:focus  {
        text-align: left;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
        font-size: 1.025em;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 0px;

        /*---*/

        padding: 8px 32px 48px 32px;
        text-decoration: none;
        color: #fff;
        display: block;
        transition: 0.3s;
    }
    #main-menu .navbar-nav .closebtn {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 19px;
        font-size: 25px;
        font-weight: 200;

    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }

    #main-menu.navbar-default .navbar-nav > li:active > a,
    #main-menu.navbar-default .navbar-nav > li:open > a,
    #main-menu.navbar-default .navbar-nav > li:hover > a {
        background:rgba(255, 255, 255, 0);
        color: #FF6D00;
    }
    .navbar.navbar-default .navbar-brand {
        display: none;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .navbar.navbar-default {
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 32px;
    }
    #main-menu.navbar-default {
        background: transparent;
    }
    #main-menu.navbar-default .navbar-nav {
        background: rgba(132, 67, 152, 1);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: calc(50% - 154px);
    }
    #main-menu.navbar-default .navbar-nav > li > a {
        font-family: 'Lato', sans-serif;
        font-size: .70em;
        font-weight: 200;
        margin-top: 0px;
        border-bottom: 3px solid transparent;
        margin-bottom: 0px;
        padding: 4px 10px;
        color: #FFF;
    }
    #main-menu.navbar-default .navbar-nav > li.active > a,
    #main-menu.navbar-default .navbar-nav > li.open > a,
    #main-menu.navbar-default .navbar-nav > li:hover > a,
    #main-menu.navbar-default .navbar-nav > li:focus > a {
        background: rgba(108, 54, 124, 1);
        margin-right: 0;
        border-radius: 0;
    }
    .closebtn {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar.navbar-default {
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 32px;
    }
    #main-menu.navbar-default {
        background: transparent;
        }
    #main-menu.navbar-default .navbar-nav {
        background: rgba(132, 67, 152, 1);
        /* float: none; */
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: calc(50% - 193px);
    }
    #main-menu.navbar-default .navbar-nav > li > a {
        font-family: 'Lato', sans-serif;
        font-size: .85em;
        font-weight: 200;
        margin-top: 0px;
        border-bottom: 3px solid transparent;
        margin-bottom: 0px;
        padding: 10px 15px;
        color: #FFF;
    }
    #main-menu.navbar-default .navbar-nav > li.active > a,
    #main-menu.navbar-default .navbar-nav > li.open > a,
    #main-menu.navbar-default .navbar-nav > li:hover > a {
        background: rgba(108, 54, 124, 1);
        padding-top: 10px;
        border-radius: 0px;
    }
    .closebtn {
        display: none;
    }
}

/* ------- HOME PAGE ------- */

@media (min-width: 1400px) {
    #home-page {
        width: 100%;
        height: auto;
        background-color: #FFF;
        margin-top: 0px;
    }
    #home-page .home-inner {
        position: relative;
        margin: 230px 0 180px 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #000;
    }
    #home-page #home-pic {
       background-color: transparent;
       height: auto;
    }
    #home-page #home-pic img {
        margin-bottom: 0px;
     }
     #home-page #home-pic img:nth-child(2)  {
         margin-top: 70px;
      }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #home-page {
        width: 100%;
        height: auto;
        background-color: #FFF;
        margin-top: 0px;
        text-align: center;
    }
    #home-page .home-inner {
        position: relative;
        margin: 180px 0 100px 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #000;
    }
    #home-page #home-pic {
       background-color: transparent;
       height: auto;
    }
    #home-page #home-pic img {
        margin-bottom: 0px;
     }
     #home-page #home-pic img:nth-child(2)  {
         margin-top: 70px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #home-page {
        width: 100%;
        height: auto;
        background-color: #FFF;
        margin-top: 0px;
    }
    #home-page .home-inner {
        position: relative;
        margin: 200px 0 100px 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #000;
    }
    #home-page #home-pic {
       background-color: transparent;
       height: auto;
    }
    #home-page #home-pic img {
        margin-bottom: 0px;
     }
     #home-page #home-pic img:nth-child(2)  {
         margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #home-page {
        width: 100%;
        height: auto;
        background-color: #FFF;
        margin-top: 0px;
    }
    #home-page .home-inner {
        position: relative;
        margin: 200px 0 100px 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #000;
    }
    #home-page #home-pic {
       background-color: transparent;
       height: auto;
    }
    #home-page #home-pic img {
        margin-bottom: 0px;
     }
     #home-page #home-pic img:nth-child(2)  {
         margin-top: 30px;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #home-page {
        width: 100%;
        height: auto;
        background-color: #FFF;
        margin-top: 0px;
    }
    #home-page .home-inner {
        position: relative;
        margin: 200px 0 150px 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #000;
    }
    #home-page #home-pic {
       background-color: transparent;
       height: auto;
    }
    #home-page #home-pic img {
        margin-bottom: 0px;
     }
     #home-page #home-pic img:nth-child(2)  {
         margin-top: 30px;
    }
}

@media (min-width: 300px) and (max-width: 419px) {
    #home-page {
        width: 100%;
        height: auto;
        background-color: #FFF;
        margin-top: 0px;
    }
    #home-page .home-inner {
        position: relative;
        margin: 160px 0 150px 0;
        left: 0;
        width: 100%;
        height: auto;
        color: #000;
    }
    #home-page #home-pic {
       background-color: transparent;
       height: auto;
    }
    #home-page #home-pic img {
        margin-bottom: 0px;
     }
     #home-page #home-pic img:nth-child(2)  {
         margin-top: 30px;
    }
}

/* ------- INFO ------- */

@media (min-width: 1400px) {
    #general-info {
        height: auto;
        background-image: url('../img/bg-1.svg');
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  180px;
        background-color: transparent;
    }
    #general-info .panel {
        padding: 50px 50px 10px 50px;
        margin-top: 220px;
        margin-bottom: 200px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.09);
    }
    #general-info .panel p {
        margin-bottom: 40px;
        font-size: 1.4em;
        font-weight: 200;
        line-height: 1.5;
        color: #844398;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #general-info {
        height: auto;
        background-image: url('../img/bg-1.svg');
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  170px;
        background-color: transparent;
    }
    #general-info .panel {
        padding: 50px 50px 10px 50px;
        margin-top: 180px;
        margin-bottom: 200px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.09);
    }
    #general-info .panel p {
        margin-bottom: 40px;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.7;
        color: #844398;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #general-info {
        height: auto;
        background-image: url('../img/bg-1.svg');
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  160px;
        background-color: transparent;
    }
    #general-info .panel {
        padding: 50px 50px 10px 50px;
        margin-top: 200px;
        margin-bottom: 150px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.09);
    }
    #general-info .panel p {
        margin-bottom: 30px;
        font-size: 1.1em;
        font-weight: 200;
        line-height: 1.5;
        color: #844398;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #general-info {
        height: auto;
        background-image: url('../img/bg-1.svg');
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  100px;
        background-color: transparent;
    }
    #general-info .panel {
        padding: 30px 30px 0 30px;
        margin-top: 100px;
        margin-bottom: 100px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.09);
    }
    #general-info .panel p {
        margin-bottom: 30px;
        font-size: .75em;
        font-weight: 200;
        line-height: 1.5;
        color: #844398;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #general-info {
        height: auto;
        background-image: url('../img/bg-1.svg');
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  140px;
        background-color: transparent;
    }
    #general-info .panel {
        padding: 30px 30px 0 30px;
        margin-top: 100px;
        margin-bottom: 30px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #general-info .panel p {
        margin-bottom: 30px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #844398;
    }
    #general-info .panel-img {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    #general-info {
        height: auto;
        background-image: url('../img/bg-1.svg');
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  140px;
        background-color: transparent;
    }
    #general-info .panel {
        padding: 30px 30px 0 30px;
        margin-top: 100px;
        margin-bottom: 30px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #general-info .panel p {
        margin-bottom: 30px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #844398;
    }
    #general-info .panel-img {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

/* ------- TIME ------- */

@media (min-width: 1400px) {
    #attention {
       height: auto;
       background-color: #FFF;
    }
    #attention .text {
        padding-bottom: 130px;
    }
    #attention .title img {
        margin-top: 25px;
        max-width: 150px;
    }
    #attention .visit-icon {
        padding-left: 0;
    }
    #attention .visit img {
        margin: 25px 0;
        max-width: 100px;
    }
    #attention h2 {
        text-align: center;
        color: #844398;
        font-weight: 600;
    }
    #attention h3 {
        color: #844398;
    }
    #attention .text p {
       font-size: 1em;
       font-family: 'Lato', sans-serif;
       color: #3c3c3d;
       font-weight: 400;
       line-height: 1.5;
    }
    #attention .time-second-col {
        margin-top: 56px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #attention {
       height: auto;
       background-color: #FFF;
    }
    #attention .text {
        padding-top: 10px;
        padding-bottom: 60px;
    }
    /* #attention .text .title {
       margin-top: calc(20% / 2);
    } */
    #attention .title img {
        margin-top: 25px;
        max-width: 150px;
    }
    #attention .visit-icon {
        padding-left: 0;
    }
    #attention .visit img {
        margin: 25px 0;
        max-width: 100px;
    }
    #attention h2 {
        text-align: center;
        color: #844398;
        font-weight: 600;
    }
    #attention h3 {
        color: #844398;
    }
    #attention .text p {
       font-size: .9em;
       font-family: 'Lato', sans-serif;
       color: #3c3c3d;
       font-weight: 400;
       line-height: 1.5;
    }
    #attention .time-second-col {
        margin-top: 56px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #attention {
       height: auto;
       background-color: #FFF;
    }
    #attention .text {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    #attention .text .title {
       margin-top: 20px;
    }
    #attention .title img {
        margin-top: 10px;
        max-width: 100px;
    }
    #attention .visit-icon {
        padding-left: 0;
    }
    #attention .visit img {
        margin: 20px 0 0 0 ;
        max-width: 80px;
    }
    #attention h2 {
        text-align: center;
        font-size: 1.2em;
        color: #844398;
        font-weight: 800;
        padding-left: 0;
    }
    #attention h3 {
        font-size: 1.2em;
        color: #844398;
        font-weight: 800;
        padding-left: 0;
    }
    #attention .text p {
       font-size: .85em;
       font-family: 'Lato', sans-serif;
       color: #3c3c3d;
       font-weight: 400;
       line-height: 1.5;
    }
    #attention .time-second-col {
        margin-top: 41px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #attention {
       height: auto;
       background-color: #FFF;
    }
    #attention .text {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #attention .text .title {
       margin-top: 0px;
    }
    #attention .title img {
        margin-top: 20px;
        max-width: 100px;
    }
    #attention .visit-icon {
        padding-left: 0;
    }
    #attention .visit img {
        margin: 10px 0;
        max-width: 70px;
    }
    #attention h2 {
        text-align: center;
        font-size: 1.159em;
        color: #844398;
        font-weight: 800;
        padding-left: 0;
    }
    #attention h3 {
        font-size: 1.159em;
        color: #844398;
        font-weight: 800;
        padding-left: 0;
    }
    #attention .text p {
       font-size: .75em;
       font-family: 'Lato', sans-serif;
       color: #3c3c3d;
       font-weight: 400;
       line-height: 1.5;
    }
    #attention .time-second-col {
        margin-top: 50px;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #attention {
       height: auto;
       background-color: #FFF;
    }
    #attention .text {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #attention .title img {
        margin-top: 23px;
        margin-right: 0;
        max-width: 70px;
    }
    #attention .visit {
        margin-top: 10px;
    }
    #attention .visit-icon {
        padding-left: 0;
    }
    #attention .visit img {
        margin: 10px 0;
        max-width: 50px;
    }
    #attention h2 {
        color: #844398;
        font-weight: 200;
        padding-left: 0;
    }
    #attention h3 {
        font-size: 1.159em;
        color: #844398;
        font-weight: 200;
        padding-left: 0;
    }
    #attention .text p {
       font-size: .85em;
       font-family: 'Lato', sans-serif;
       color: #3c3c3d;
       font-weight: 400;
       line-height: 1.5;
    }
    #attention .time-second-col {
        margin-top: 5px;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    #attention {
       height: auto;
       background-color: #FFF;
    }
    #attention .text {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #attention .title img {
        margin-top: 0;
        padding-left: 0;
        max-width: 60px;
    }
    #attention .visit {
        margin-top: 10px;
    }
    #attention .visit-icon {
        padding-left: 0;
    }
    #attention .visit img {
        margin: 10px 0;
        max-width: 50px;
    }
    #attention h2 {
        text-align: left;
        color: #844398;
        font-weight: 200;
        padding-left: 0;
    }
    #attention h3 {
        font-size: 1.159em;
        color: #844398;
        font-weight: 200;
        padding-left: 0;
    }
    #attention .text p {
       font-size: .85em;
       font-family: 'Lato', sans-serif;
       color: #3c3c3d;
       font-weight: 400;
       line-height: 1.5;
    }
    #attention .time-second-col {
        margin-top: 5px;
    }
}

/* ------- CONTACT ------- */

@media (min-width: 1400px) {
    #get-in-touch {
        padding-top: 60px;
        padding-bottom: 60px;
        height: auto;
        background-color: #844398;
        color: #fff;
    }
    #get-in-touch .contact img {
        margin-top: 36px;
        max-width: 200px;
    }
    #get-in-touch .contact h4, h5 {
        color: #fff;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact p {
        font-weight: 200;
        font-size: .9em;
    }
    #get-in-touch .contact-address, .contact-phone {
        margin-top: 30px;
    }
    #get-in-touch .contact a, a:focus  {
        color: #fff;
        font-weight: 200;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #get-in-touch .contact a:hover {
       color: #FFDC77;
       -webkit-transition: .3s ease-in-out;
       transition: .3s ease-in-out;
    }
    #get-in-touch .contact-text p {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #get-in-touch {
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
        background-color: #844398;
        color: #fff;
    }
    #get-in-touch .contact img {
        margin-top: 36px;
        max-width: 200px;
    }
    #get-in-touch .contact h4, h5 {
        color: #fff;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact p {
        font-weight: 200;
        font-size: .8em;
        line-height: 1.5;
    }
    #get-in-touch .contact a, a:focus  {
        color: #fff;
        font-weight: 200;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #get-in-touch .contact a:hover {
       color: #FFDC77;
       -webkit-transition: .3s ease-in-out;
       transition: .3s ease-in-out;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #get-in-touch {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        background-color: #844398;
        color: #fff;
    }
    #get-in-touch .contact {
        margin-bottom: 15px;
    }
    #get-in-touch .contact img {
        margin-top: 36px;
        max-width: 140px;
    }
    #get-in-touch .contact h5, h4 {
        font-size: 1em;
        color: #fff;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact p {
        font-weight: 200;
        font-size: .75em;
        line-height: 1.5;
        margin-bottom: 3px;
    }
    #get-in-touch .contact a, a:focus  {
        color: #fff;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #get-in-touch .contact a:hover {
       color: #FFDC77;
       -webkit-transition: .3s ease-in-out;
       transition: .3s ease-in-out;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #get-in-touch {
        padding: 20px 0;
        height: auto;
        background-color: #844398;
        color: #fff;
    }
    #get-in-touch .contact img {
        margin-top: 25px;
        max-width: 150px;
    }
    #get-in-touch .contact h4 {
        font-size: .7em;
        color: #fff;
        font-weight: 200;
        margin: 5px 0;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact h5 {
        font-size: .5em;
        color: #fff;
        font-weight: 200;
        margin: 5px 0;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact p {
        font-weight: 200;
        font-size: .65em;
        line-height: 1.5;
    }
    #get-in-touch .contact-address, .contact-phone {
        margin-top: 19px;
    }
    #get-in-touch .contact a, a:focus  {
        margin-right: 20px;
        color: #fff;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #get-in-touch .contact a:hover {
       color: #FFDC77;
       -webkit-transition: .3s ease-in-out;
       transition: .3s ease-in-out;
    }
    #get-in-touch .contact-links br {
        display: none;
    }
    #get-in-touch .contact-links h3 {
        margin-top: 0;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #get-in-touch {
        padding: 60px 0;
        height: auto;
        background-color: #844398;
        color: #fff;
    }
    #get-in-touch .contact img {
        margin-bottom: 30px;
    }
    #get-in-touch .contact h4 {
        font-size: 1em;
        color: #fff;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact h5 {
        font-size: .7em;
        color: #fff;
        font-weight: 400;
        margin: 5px 0;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact p {
        font-weight: 200;
        font-size: .8em;
        line-height: 1.5;
    }
    #get-in-touch .contact-address, .contact-phone, .contact-links {
        margin-top: 25px;
    }
    #get-in-touch .contact a, a:focus  {
        margin-right: 20px;
        color: #fff;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #get-in-touch .contact a:hover {
       color: #FFDC77;
       -webkit-transition: .3s ease-in-out;
       transition: .3s ease-in-out;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    #get-in-touch {
        padding: 60px 0 40px 0;
        height: auto;
        background-color: #844398;
        color: #fff;
    }
    #get-in-touch .contact img {
        margin-bottom: 30px;
    }
    #get-in-touch .contact h4 {
        font-size: 1em;
        color: #fff;
        font-weight: 200;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact h5 {
        font-size: .7em;
        color: #fff;
        font-weight: 400;
        margin: 5px 0;
        font-family: 'Lato', sans-serif;
    }
    #get-in-touch .contact p {
        font-weight: 200;
        font-size: .80em;
        line-height: 1.5;
    }
    #get-in-touch .contact-address, .contact-phone, .contact-links {
        margin-top: 25px;
    }
    #get-in-touch .contact a, a:focus  {
        color: #fff;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #get-in-touch .contact a:hover {
       color: #FFDC77;
       -webkit-transition: .3s ease-in-out;
       transition: .3s ease-in-out;
    }
}

/* ------- INNER PAGES ------- */

/* ------- ABOUT ------- */

@media (min-width: 1400px) {
    #history-info {
        height: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(#82ccec, rgba(255, 220, 119, 1));
        background-color: #ffdc77;
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
        background-color: transparent;
    }
    #history-info .panel {
        padding: 50px;
        margin-top: 150px;
        margin-bottom: 30px;
        background-color: transparent;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #history-info .panel p {
        margin-bottom: 50px;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #history-info h3 {
        color: #fff;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 3px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 38px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #history-info {
        height: auto;
        margin-bottom: 60px;
        /* background-image: url('../img/bg-3.svg'); */
        background: linear-gradient(#82ccec, rgba(255, 220, 119, 1));
        background-color: #ffdc77;
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
        background-color: transparent;
    }
    #history-info .panel {
        padding: 50px;
        margin-top: 100px;
        margin-bottom: 30px;
        background-color: transparent;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #history-info .panel p {
        margin-bottom: 50px;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #history-info h3 {
        color: #fff;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 3px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 38px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #history-info {
        height: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(#82ccec, rgba(255, 220, 119, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
        background-color: transparent;
    }
    #history-info .panel {
        padding: 50px;
        margin-top: 100px;
        margin-bottom: 30px;
        background-color: transparent;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #history-info .panel p {
        margin-bottom: 50px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #history-info h3 {
        color: #fff;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 3px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 38px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #history-info {
        height: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(#82ccec, rgba(255, 220, 119, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
        background-color: transparent;
    }
    #history-info .panel {
        padding: 50px;
        margin-top: 100px;
        margin-bottom: 30px;
        background-color: transparent;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #history-info .panel p {
        margin-bottom: 50px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #history-info h3 {
        color: #fff;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 3px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 38px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #history-info {
        height: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(#82ccec, rgba(255, 220, 119, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
        background-color: transparent;
    }
    #history-info .panel {
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: transparent;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #history-info .panel p {
        margin-bottom: 20px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #history-info h3 {
        font-weight: 200;
        color: #fff;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 3px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 22px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    #history-info {
        height: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(#82ccec, rgba(255, 220, 119, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
        background-color: transparent;
    }
    #history-info .panel {
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: transparent;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #history-info .panel p {
        margin-bottom: 20px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #history-info h3 {
        color: #fff;
        font-weight: 200;
    }
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 3px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 18px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
}


/* ------- ARCHITECTURE ------- */

@media (min-width: 1400px) {
    #architecture-info {
        height: auto;
        /* background-image: url('../img/bg-2.svg'); */
        background-image: linear-gradient(rgba(130, 204, 236, 1), rgba(242, 224, 195, 1));
        /* background-color: rgba(130, 204, 236, 1); */
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
    }
    #architecture-info .panel {
        padding: 40px 30px 0 30px;
        margin-top: 120px;
        margin-bottom: 70px;
        height: auto;
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #architecture-info .panel p {
        margin-bottom: 50px;
        font-size: 1.4em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
    }
    #arte {
        font-size: 1.1em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
        margin-bottom: 60px;
        background-image: linear-gradient(rgba(242, 224, 195, 1), rgba(130, 204, 236, 1));
    }
    #arte .panel {
        padding: 10px 30px;
        margin-bottom: 130px;
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #arte h1 {
        color: #000;
        margin-bottom: 30px;
        font-weight: lighter;
    }
    #arte .panel p {
        margin-bottom: 20px;
        padding-right: 30px;
    }
    #arte .panel-vitral img {
        margin-top: 90px;
        border-radius: 3px;
    }
    #arte #vitrales .panel-cuadro img {
        margin-bottom: 0px;
    }
    #arte #vitrales figcaption {
        margin-bottom: 30px;
        text-align: center;
        font-size: .8em;
    }
    #arte .panel-cuadro img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-mosaico {
        margin: 120px 0px 30px 0;
    }
    #arte .panel-mosaico img {
        border-radius: 3px;
    }
    #arte .panel-text-mosaico {
        margin: 30px 0;
    }
    #arte .panel-text-mosaico img {
        margin-top: 30px;
    }
    #arte .panel-presbiterio  {
        margin: 90px 0px 30px 0;
    }
    #arte .panel-cristo {
        margin-top: 160px;
    }
    #arte .panel-cristo img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-cristo {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #architecture-info {
        height: auto;
        background-image: linear-gradient(rgba(130, 204, 236, 1), rgba(242, 224, 195, 1));
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
    }
    #architecture-info .panel {
        padding: 40px 30px 0 30px;
        margin-top: 120px;
        margin-bottom: 70px;
        height: auto;
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #architecture-info .panel p {
        margin-bottom: 50px;
        font-size: 1.4em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
    }
    #arte {
        font-size: 1.1em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
        margin-bottom: 60px;
        background-image: linear-gradient(rgba(242, 224, 195, 1), rgba(130, 204, 236, 1));
    }
    #arte .panel {
        padding: 10px 30px;
        margin-bottom: 130px;
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #arte h1 {
        color: #000;
        margin-bottom: 30px;
        font-weight: lighter;
    }
    #arte .panel p {
        margin-bottom: 20px;
        padding-right: 30px;
    }
    #arte .panel-vitral img {
        margin-top: 90px;
        border-radius: 3px;
    }
    #arte #vitrales .panel-cuadro img {
        margin-bottom: 0px;
    }
    #arte #vitrales figcaption {
        margin-bottom: 30px;
        text-align: center;
        font-size: .8em;
    }
    #arte .panel-cuadro img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-mosaico {
        margin: 115px 0px 30px 0;
    }
    #arte .panel-mosaico img {
        border-radius: 3px;
    }
    #arte .panel-text-mosaico {
        margin: 30px 0;
    }
    #arte .panel-text-mosaico img {
        margin-top: 30px;
    }
    #arte .panel-presbiterio  {
        margin: 90px 0px 30px 0;
    }
    #arte .panel-presbiterio img {
        border-radius: 3px;
    }
    #arte .panel-cristo {
        margin-top: 160px;
    }
    #arte .panel-cristo img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-cristo {
        margin-top: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #architecture-info {
        height: auto;
        /* background-image: url('../img/bg-2.svg'); */
        background-image: linear-gradient(rgba(130, 204, 236, 1), rgba(242, 224, 195, 1));
        /* background-color: rgba(130, 204, 236, 1); */
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 90px;
    }
    #architecture-info .panel {
        padding: 40px 30px 0 30px;
        margin-top: 100px;
        margin-bottom: 20px;
        height: auto;
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #architecture-info .panel p {
        margin-bottom: 20px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
    }
    #arte {
        font-size: .9em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
        margin-bottom: 60px;
        background-image: linear-gradient(rgba(242, 224, 195, 1), rgba(130, 204, 236, 1));
    }
    #arte .panel {
        padding: 10px 30px;
        margin-bottom: 130px;
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #arte h1 {
        font-size: 1.5em;
        color: #000;
        margin-bottom: 30px;
        font-weight: lighter;
    }
    #arte .panel p {
        margin-bottom: 20px;
        padding-right: 30px;
    }
    #arte .panel-vitral img {
        margin-top: 80px;
        border-radius: 3px;
    }
    #arte #vitrales .panel-cuadro img {
        margin-bottom: 0px;
    }
    #arte #vitrales figcaption {
        margin-top: 3px;
        margin-bottom: 10px;
        text-align: center;
        font-size: .6em;
    }
    #arte .panel-cuadro img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-mosaico {
        margin: 105px 0px 30px 0;
    }
    #arte .panel-text-mosaico {
        margin: 30px 0;
    }
    #arte .panel-mosaico img {
        border-radius: 3px;
    }
    #arte .panel-text-mosaico p {
        padding-left: 0px;
    }
    #arte .panel-text-mosaico img {
        margin-top: 30px;
    }
    #arte .panel-presbiterio  {
        margin: 90px 0px 30px 0;
    }
    #arte .panel-presbiterio img {
        border-radius: 3px;
    }
    #arte .panel-cristo {
        margin-top: 130px;
    }
    #arte .panel-cristo img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-cristo {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #architecture-info {
        height: auto;
        /* background-image: url('../img/bg-1.svg'); */
        background-image: linear-gradient(rgba(130, 204, 236, 1), rgba(242, 224, 195, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  100px;
        background-color: transparent;
    }
    #architecture-info .panel {
        padding: 40px 30px 0 30px;
        margin-top: 100px;
        margin-bottom: 20px;
        height: auto;
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #architecture-info .panel p {
        margin-bottom: 30px;
        font-size: .75em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #arte {
        font-size: .7em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
        margin-bottom: 60px;
        background-image: linear-gradient(rgba(242, 224, 195, 1), rgba(130, 204, 236, 1));
    }
    #arte .panel {
        padding: 10px 30px;
        margin-bottom: 130px;
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #arte h1 {
        color: #000;
        font-size: 1.5em;
    }
    #arte .panel p {
        margin-bottom: 10px;
        padding-right: 10px;
    }
    #arte .panel-vitral img {
        margin-top: 45px;
        border-radius: 3px;
    }
    #arte #vitrales .panel-cuadro img {
        margin-bottom: 0px;
    }
    #arte #vitrales figcaption {
        margin-top: 3px;
        margin-bottom: 10px;
        text-align: center;
        font-size: .75em;
    }
    #arte .panel-mosaico {
        margin: 105px 0px 30px 0;
    }
    #arte .panel-cuadro img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-mosaico {
        margin-top: 45px;
    }
    #arte .panel-mosaico img {
        border-radius: 3px;
    }
    #arte .panel-text-mosaico {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #arte .panel-text-mosaico p {
        padding-left: 0px;
    }
    #arte .panel-text-mosaico img {
        margin-top: 30px;
    }
    #arte .panel-presbiterio  {
        margin: 45px 0px 30px 0;
    }
    #arte .panel-presbiterio img {
        border-radius: 3px;
    }
    #arte .panel-cristo {
        margin-top: 65px;
    }
    #arte .panel-cristo img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-cristo {
        margin-top: 0px;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #architecture-info {
        height: auto;
        /* background-image: url('../img/bg-1.svg'); */
        background-image: linear-gradient(rgba(130, 204, 236, 1), rgba(242, 224, 195, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  140px;
        background-color: transparent;
    }
    #architecture-info .panel {
        padding: 50px 40px 0 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        height: auto;
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #architecture-info .panel p {
        margin-bottom: 30px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #architecture-info .panel-img {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #arte {
        font-size: .9em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
        margin-bottom: 60px;
        background-image: linear-gradient(rgba(242, 224, 195, 1), rgba(130, 204, 236, 1));
    }
    #arte .panel {
        padding: 10px 30px;
        margin-bottom: 130px;
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #arte h1 {
        color: #000;
        font-size: 1.8em;
        font-weight: 200;
    }
    #arte .panel p {
        margin-bottom: 10px;
        padding-right: 10px;
    }
    #arte .panel-vitral img {
        margin-top: 10px;
        border-radius: 3px;
    }
    #arte #vitrales .panel-cuadro img {
        margin-bottom: 0px;
    }
    #arte #vitrales figcaption {
        margin-top: 3px;
        margin-bottom: 10px;
        text-align: center;
        font-size: .85em;
    }
    #arte .panel-mosaico {
        margin-bottom: 30px;
    }
    #arte .panel-cuadro img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-mosaico img {
        border-radius: 3px;
    }
    #arte .panel-mosaico {
        margin-top: 0px;
    }
    #arte .panel-text-mosaico {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #arte .panel-text-mosaico p {
        padding-left: 0px;
    }
    #arte .panel-text-mosaico img {
        margin-top: 30px;
    }
    #arte .panel-presbiterio  {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    #arte .panel-presbiterio img {
        border-radius: 3px;
    }
    #arte .panel-cristo {
        margin-top: 10px;
    }
    #arte .panel-cristo img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-cristo {
        margin-top: 0px;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    #architecture-info {
        height: auto;
        /* background-image: url('../img/bg-1.svg'); */
        background-image: linear-gradient(rgba(130, 204, 236, 1), rgba(242, 224, 195, 1));
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  140px;
        background-color: transparent;
    }
    #architecture-info .panel {
        padding: 50px 40px 0 50px;
        margin-top: 30px;
        margin-bottom: 0px;
        height: auto;
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #architecture-info .panel p {
        margin-bottom: 30px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #architecture-info .panel-img {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #arte {
        font-size: .9em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
        margin-bottom: 60px;
        background-image: linear-gradient(rgba(242, 224, 195, 1), rgba(130, 204, 236, 1));
    }
    #arte .panel {
        padding: 10px 30px;
        margin-bottom: 130px;
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #arte h1 {
        color: #000;
        font-size: 1.8em;
        font-weight: 200;
    }
    #arte .panel p {
        margin-bottom: 10px;
        padding-right: 10px;
    }
    #arte .panel-vitral img {
        margin-top: 10px;
        border-radius: 3px;
    }
    #arte #vitrales .panel-cuadro img {
        margin-bottom: 0px;
    }
    #arte #vitrales figcaption {
        margin-top: 3px;
        margin-bottom: 10px;
        text-align: center;
        font-size: .85em;
    }
    #arte .panel-mosaico {
        margin-bottom: 30px;
    }
    #arte .panel-mosaico img {
        border-radius: 3px;
    }
    #arte .panel-cuadro img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-mosaico {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #arte .panel-text-mosaico p {
        padding-left: 0px;
    }
    #arte .panel-text-mosaico img {
        margin-top: 30px;
    }
    #arte .panel-presbiterio  {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    #arte .panel-presbiterio img {
        border-radius: 3px;
    }
    #arte .panel-cristo {
        margin-top: 10px;
    }
    #arte .panel-cristo img {
        margin-bottom: 30px;
        border-radius: 3px;
    }
    #arte .panel-text-cristo {
        margin-top: 0px;
    }
}

/* ------- STORE ------- */

@media (min-width: 1400px) {
    #store-info {
        height: auto;
        background-image: linear-gradient(#f2e0c3, #ffdc77);
        background-color: #ffdc77;
        /* background-image: url('../img/bg-3.svg'); */
        /* background-color: #82CCEC; */
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  53px;
        background-color: transparent;
        margin-bottom: 60px;
    }
    #store-info .panel {
        padding: 50px 20px 5px 20px;
        background-color: transparent;
        margin-top: 150px;
        margin-bottom: 130px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #store-info .panel h1 {
        text-align: center;
        color: #844398;
        font-weight: 200;
        margin-bottom: 40px;
    }
    #store-info .panel p {
        margin-bottom: 50px;
        font-size: 1.4em;
        font-weight: 200;
        line-height: 1.7;
        color: #000;
    }
    #store-info .panel img {
        border-radius: 3px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #store-info {
        height: auto;
        background-image: linear-gradient(#f2e0c3, #ffdc77);
        /* background-image: url('../img/bg-3.svg'); */
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  53px;
        background-color: transparent;
        margin-bottom: 60px;
    }
    #store-info .panel {
        padding: 40px 20px 5px 20px;
        background-color: transparent;
        margin-top: 120px;
        margin-bottom: 130px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #store-info .panel h1 {
        text-align: center;
        color: #844398;
        font-weight: 200;
        margin-bottom: 40px;
    }
    #store-info .panel p {
        margin-bottom: 50px;
        font-size: 1.4em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #store-info .panel img {
        border-radius: 3px;
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #store-info {
        height: auto;
        background-image: linear-gradient(#f2e0c3, #ffdc77);
        /* background-image: url('../img/bg-3.svg'); */
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  53px;
        background-color: transparent;
        margin-bottom: 60px;
    }
    #store-info .panel {
        padding: 40px 20px 5px 20px;
        background-color: transparent;
        margin-top: 120px;
        margin-bottom: 130px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #store-info .panel h1 {
        text-align: center;
        color: #844398;
        font-weight: 200;
        margin-bottom: 40px;
    }
    #store-info .panel p {
        margin-bottom: 40px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #store-info .panel img {
        border-radius: 3px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #store-info {
        height: auto;
        background-image: linear-gradient(#f2e0c3, #ffdc77);
        /* background-image: url('../img/bg-3.svg'); */
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  53px;
        background-color: transparent;
        margin-bottom: 60px;
    }
    #store-info .panel {
        padding: 40px 20px 5px 20px;
        background-color: transparent;
        margin-top: 100px;
        margin-bottom: 20px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #store-info .panel h1 {
        text-align: center;
        color: #844398;
        font-weight: 200;
        margin-bottom: 40px;
    }
    #store-info .panel p {
        margin-bottom: 30px;
        font-size: .75em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #store-info .panel img {
        border-radius: 3px;
        margin-bottom: 30px;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #store-info {
        height: auto;
        background-image: linear-gradient(#f2e0c3, #ffdc77);
        /* background-image: url('../img/bg-3.svg'); */
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  53px;
        background-color: transparent;
        margin-bottom: 30px;
    }
    #store-info .panel {
        padding: 10px 30px;
        background-color: transparent;
        margin-top: 60px;
        margin-bottom: 130px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #store-info .panel h1 {
        text-align: center;
        color: #844398;
        font-weight: 200;
        margin-bottom: 40px;
    }
    #store-info .panel p {
        margin-bottom: 40px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #store-info .panel img {
        border-radius: 3px;
        margin-bottom: 30px;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    #store-info {
        height: auto;
        background-image: linear-gradient(#f2e0c3, #ffdc77);
        /* background-image: url('../img/bg-3.svg'); */
        background-color: #82CCEC;
        background-position: top center;
        background-repeat: repeat-x;
        background-size:  53px;
        background-color: transparent;
        margin-bottom: 30px;
    }
    #store-info .panel {
        padding: 10px 30px;
        background-color: transparent;
        margin-top: 60px;
        margin-bottom: 130px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,0);
    }
    #store-info .panel h1 {
        text-align: center;
        color: #844398;
        font-weight: 200;
        margin-bottom: 40px;
    }
    #store-info .panel p {
        margin-bottom: 40px;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5;
        color: #000;
    }
    #store-info .panel img {
        border-radius: 3px;
        margin-bottom: 30px;
    }
}
